NEXT_PUBLIC_API_BASE_URL=localhost
NEXT_PUBLIC_SUPABASE_URL=localhost
NEXT_PUBLIC_SUPABASE_ANON_KEY="example"
NEXT_PUBLIC_CREATOR_NAME=Creator
NEXT_PUBLIC_CREATOR_MESSAGE=lorem
NEXT_PUBLIC_CREATOR_EMAIL=email@dev.test
